<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MessagingConsumerTest" annotations="JDK" time-out="10000">
    <test name="MessagingConsumerTest" verbose="10" annotations="JDK" time-out="10000">
        <packages>
            <package name="com.edmunds.ai.messaging.consumer"/>
        </packages>
    </test>
</suite>
